body{
    padding: 10px;
    margin: 10px;
    font-family: "Poppins";
}

div{
    text-align: center;
    margin: 20px;
    font-size: 30px;
}

button{
    border: none;
    font-family: "Poppins";
    font-weight: 600;
    color: aliceblue;
    background-color:cornflowerblue;
    align-items: center;
    border-radius: 30cm;
    width: 200px;
    height: 45px;
    
}
#run{
    width: 250px;
    height: 50px;
    display: block;
    margin: 20px auto; 
}
button:hover{
    background-color:dodgerblue;
    width: 250px;
    height: 50px;
    transition: ease-in 0.2s;
    
}
#uploaded-image {
    display: block;
    margin: 0 auto;
    width: 400px;
    height: auto;
    border-radius: 30px;
}

#label-container {
    text-align: center;
}